.section2 {
    width: 100%;

    .sec2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding-top: 100px;

        .sec21 {
            text-align: center;

            p {
                color: gray;
                font-weight: 300;
            }
        }
        .search{
            display: flex;
            flex-direction: column;
            gap: 10px;
            input, select{
                width: 150px;
                height: 30px;
            }
            select{
                background-color: orange;
                border: none;
                color: white;
            }
            input{
                padding: 5px;
            }
        }
        
        .sec22 {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;

            div {
                flex: 1 1 calc(27% - 50px);
                max-width: 34%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                transition: 0.5s ease;
                position: relative;

                #heart {
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    color: red;
                    font-size: 20px;
                    top: 20px;
                    right: 30px;
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                a {
                    color: black;
                }

                p {
                    font-size: 14px;
                    color: gray;
                }

                &:hover {
                    background-color: orange;
                }

                span {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    a {
                        width: 30%;
                        height: 30px;
                        color: white;
                        button {
                            width: 100%;
                            height: 100%;
                            color: white;
                            border: none;
                        }

                        .delete {

                            background-color: red;
                        }

                        .update {
                            background-color: green;
                        }

                        .info {
                            background-color: blue;
                        }
                    }
                }
            }
        }
        .load{
            margin-top: -70px;
            width: 150px;
            height: 30px;
            background-color: blue;
            border: none;
            color: white;
        }
    }
}

@media screen and (max-width:768px) {
    .section2 {
        .sec2 {
            .sec22 {
                div {
                    flex: 1 1 calc(100% - 50px);
                    max-width: 100%;
                }
            }
        }
    }
}