ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: auto;
    padding: 0 32px;
    max-width: 1200px;
}

@import "nav";
@import "section1";
@import "section2";
@import "section3";
@import "section4";
@import "footer";
@import "menu";

.up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 999999px;
    background-color: orange;
    border: none;
    font-size: 25px;
    transition: all 0.5s ease;
}

.add {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 999999px;
    background-color: orange;
    border: none;
    transition: all 0.5s ease;
    font-size: 25px;
    
    &:hover {
        width: 100px;
        border-radius: 50px;
        &::after{
            content: "Add";
            font-size: 16px;
        }
    }
}

.fav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    bottom: 70px;
    right: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 999999px;
    background-color: orange;
    border: none;
    transition: all 0.5s ease;
    font-size: 20px;
    color: red;
    
    &:hover {
        width: 150px;
        border-radius: 50px;
        &::after{
            content: "Favorites";
            font-size: 16px;
        }
    }
}