ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: auto;
  padding: 0 32px;
  max-width: 1200px;
}

nav {
  padding-top: 10px;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
}
nav a {
  color: white;
}
nav .nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-size: 12px;
  color: white;
}
nav .nav1 .phone {
  display: none;
}
nav .nav1 a {
  font-size: 12px;
  transition: 0.5s ease;
}
nav .nav1 a:hover {
  color: orange;
}
nav .nav1 ul i {
  cursor: pointer;
}
nav .nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
nav .nav2 .menu {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
nav .nav2 .menu li {
  cursor: pointer;
}
nav .nav2 .menu a {
  font-size: 12px;
}
nav .nav2 .menu a:hover {
  color: orange;
  transition: all 0.3s ease;
}
nav .nav2 .menu .drop {
  position: relative;
}
nav .nav2 .menu .drop .drop-menu {
  background-color: white;
  position: absolute;
  width: 140px;
  padding: 14px;
  left: 0;
  top: 30px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: opacity 0.5s ease;
}
nav .nav2 .menu .drop .drop-menu a {
  color: black;
  font-weight: 400;
  font-size: 12px;
}
nav .nav2 .menu .drop .drop-menu a:hover {
  color: orange;
  transition: all 0.3s ease;
}
nav .nav2 .menu .drop:hover .drop-menu {
  z-index: 100;
  opacity: 1;
}
nav .nav2 #click {
  font-size: 24px;
  color: white;
  display: none;
}

@media screen and (max-width: 768px) {
  nav .nav1 .phone {
    display: inline;
  }
  nav .nav1 .number {
    display: none;
  }
  nav .nav2 .menu {
    display: none;
  }
  nav .nav2 #click {
    display: flex;
  }
}
.section1 {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://preview.colorlib.com/theme/security/img/header-bg.jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}
.section1 .sec1 {
  display: flex;
  min-height: 650px;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.section1 .sec1 h3, .section1 .sec1 h1, .section1 .sec1 p {
  width: 65%;
}
.section1 .sec1 h3 {
  font-weight: 100;
  font-size: 16px;
}
.section1 .sec1 h1 {
  font-size: 50px;
}
.section1 .sec1 p {
  font-size: 14px;
}
.section1 .sec1 a {
  margin-top: 20px;
  width: 20%;
  background-color: orange;
  border: 2px solid orange;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  text-align: center;
  transition: 0.5s ease;
}
.section1 .sec1 a:hover {
  background-color: transparent;
  border: 2px solid orange;
}

@media screen and (max-width: 768px) {
  .section1 .sec1 h3, .section1 .sec1 h1, .section1 .sec1 p {
    width: 100%;
  }
  .section1 .sec1 a {
    width: 40%;
  }
}
.section2 {
  width: 100%;
}
.section2 .sec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 100px;
}
.section2 .sec2 .sec21 {
  text-align: center;
}
.section2 .sec2 .sec21 p {
  color: gray;
  font-weight: 300;
}
.section2 .sec2 select {
  width: 150px;
  height: 30px;
  background-color: orange;
  border: none;
  color: white;
}
.section2 .sec2 .sec22 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.section2 .sec2 .sec22 div {
  flex: 1 1 calc(27% - 50px);
  max-width: 34%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.5s ease;
  position: relative;
}
.section2 .sec2 .sec22 div #heart {
  position: absolute;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
.section2 .sec2 .sec22 div img {
  width: 100%;
  height: auto;
}
.section2 .sec2 .sec22 div a {
  color: black;
}
.section2 .sec2 .sec22 div p {
  font-size: 14px;
  color: gray;
}
.section2 .sec2 .sec22 div:hover {
  background-color: orange;
}
.section2 .sec2 .sec22 div span {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section2 .sec2 .sec22 div span a {
  width: 30%;
  height: 30px;
  color: white;
}
.section2 .sec2 .sec22 div span a button {
  width: 100%;
  height: 100%;
  color: white;
  border: none;
}
.section2 .sec2 .sec22 div span a .delete {
  background-color: red;
}
.section2 .sec2 .sec22 div span a .update {
  background-color: green;
}
.section2 .sec2 .sec22 div span a .info {
  background-color: blue;
}
.section2 .sec2 .load {
  margin-top: -70px;
  width: 150px;
  height: 30px;
  background-color: blue;
  border: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .section2 .sec2 .sec22 div {
    flex: 1 1 calc(100% - 50px);
    max-width: 100%;
  }
}
.section3 {
  width: 100%;
  padding: 100px 0;
  background-color: #f9f9ff;
}
.section3 .sec3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.section3 .sec3 .sec31 {
  text-align: center;
}
.section3 .sec3 .sec31 p {
  color: gray;
  font-weight: 300;
}
.section3 .sec3 .sec32 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.section3 .sec3 .sec32 div {
  flex: 1 1 calc(30% - 50px);
  padding: 15px;
  background-color: white;
  transition: 0.5s ease;
}
.section3 .sec3 .sec32 div h2 {
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.section3 .sec3 .sec32 div p {
  font-size: 14px;
  color: gray;
  margin: 20px 0;
}
.section3 .sec3 .sec32 div:hover {
  background-color: orange;
  box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) and (min-width: 500px) {
  .section3 .sec3 .sec32 div {
    flex: 1 1 calc(50% - 50px);
  }
}
@media screen and (max-width: 500px) {
  .section3 .sec3 .sec32 div {
    flex: 1 1 calc(100% - 50px);
  }
}
.section4 {
  width: 100%;
  background-color: #f9f9ff;
  padding: 100px 0;
}
.section4 .sec4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.section4 .sec4 .sec41 {
  text-align: center;
}
.section4 .sec4 .sec41 p {
  color: gray;
  margin-top: 50px;
}
.section4 .sec4 .sec42 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.section4 .sec4 .sec42 div {
  flex: 1 1 calc(25% - 50px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.section4 .sec4 .sec42 div aside {
  width: 100%;
  overflow: hidden;
}
.section4 .sec4 .sec42 div aside img {
  transition: 0.5s ease;
  width: 100%;
  height: auto;
}
.section4 .sec4 .sec42 div h4 {
  cursor: pointer;
  transition: 0.5s ease;
}
.section4 .sec4 .sec42 div span {
  width: 50%;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
}
.section4 .sec4 .sec42 div p {
  color: gray;
}
.section4 .sec4 .sec42 div main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section4 .sec4 .sec42 div main h5 {
  font-weight: 400;
  color: gray;
}
.section4 .sec4 .sec42 div:hover aside img {
  transform: scale(1.1);
}
.section4 .sec4 .sec42 div:hover h4 {
  color: orange;
}

@media screen and (max-width: 768px) and (min-width: 500px) {
  .section4 .sec4 .sec42 div {
    flex: 1 1 calc(50% - 50px);
  }
}
@media screen and (max-width: 500px) {
  .section4 .sec4 .sec42 div {
    flex: 1 1 calc(100% - 50px);
  }
}
footer {
  width: 100%;
  padding: 100px 0;
  background-color: #04091e;
  color: white;
}
footer p {
  color: gray;
  font-size: 14px;
}
footer .footcon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer .footcon .last {
  padding-left: 200px;
}
footer .footcon div {
  flex: 1 1 calc(30% - 30px);
}
footer .footcon div span {
  width: 100%;
  height: 40px;
  display: flex;
}
footer .footcon div span input {
  width: calc(100% - 40px);
  padding: 5px;
}
footer .footcon div span i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: orange;
  cursor: pointer;
}
footer .footcon div ul i {
  margin-left: 10px;
  cursor: pointer;
}
footer .footcon div ul i:hover {
  color: orange;
}

@media screen and (max-width: 936px) and (min-width: 500px) {
  footer .footcon div {
    flex: 1 1 calc(50% - 30px);
  }
  footer .footcon .last {
    margin-top: 50px;
    padding-left: 0;
  }
}
@media screen and (max-width: 500px) {
  footer .footcon div {
    flex: 1 1 calc(100% - 30px);
  }
  footer .footcon .last {
    margin-top: 50px;
    padding-left: 0;
  }
}
.menu-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1000;
  top: 0;
  display: none;
}
.menu-bg .menu-div {
  width: 20%;
  height: 100vh;
  background-color: black;
  padding: 30px;
}
.menu-bg .menu-div .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-bg .menu-div .menu li {
  cursor: pointer;
}
.menu-bg .menu-div .menu a {
  color: white;
}
.menu-bg .menu-div .menu a:hover {
  color: orange;
  transition: all 0.3s ease;
}
.menu-bg .menu-div .menu .drop {
  position: relative;
}
.menu-bg .menu-div .menu .drop .drop-menu {
  background-color: white;
  position: absolute;
  width: 140px;
  padding: 14px;
  left: 0;
  top: 30px;
  opacity: 0;
  display: flex;
  transition: opacity 0.5s ease;
}
.menu-bg .menu-div .menu .drop .drop-menu a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 12px;
}
.menu-bg .menu-div .menu .drop .drop-menu a:hover {
  color: orange;
  transition: all 0.3s ease;
}
.menu-bg .menu-div .menu .drop:hover .drop-menu {
  z-index: 100;
  opacity: 1;
  flex-direction: column;
  gap: 20px;
}
.menu-bg p {
  position: absolute;
  right: 30px;
  top: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 999999px;
  background-color: orange;
  border: none;
  font-size: 25px;
  transition: all 0.5s ease;
}

.add {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 999999px;
  background-color: orange;
  border: none;
  transition: all 0.5s ease;
  font-size: 25px;
}
.add:hover {
  width: 100px;
  border-radius: 50px;
}
.add:hover::after {
  content: "Add";
  font-size: 16px;
}

.fav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  bottom: 70px;
  right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 999999px;
  background-color: orange;
  border: none;
  transition: all 0.5s ease;
}
.fav i {
  font-size: 20px;
  color: red;
  opacity: 0.5;
}
.fav:hover {
  width: 150px;
  border-radius: 50px;
}
.fav:hover::after {
  content: "Favorites";
  font-size: 16px;
}/*# sourceMappingURL=index.css.map */